<div class="col-xs-12">
	<a href="#!/inputitem" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
		<span class="glyphicon glyphicon-plus">Add Grocery Item</span>
	</a>
	<ul class="list-group">
		<li ng-repeat="item in groceryItems" class="list-group-item text-center clearfix">
			<grocery-list></grocery-list>
			<!-- <button type="button" class="btn btn-sm btn-success pull-left">
				<span class="glyphicon glyphicon-unchecked"></span>					
			</button>
			<span class="itemList">
				Item-1
			</span>
			<button type="button" class="btn btn-sm btn-success pull-right">
				<span class="glyphicon glyphicon-pencil"></span>					
			</button> -->
		</li> 	
	<!-- 	<li class="list-group-item text-center clearfix">
			<button type="button" class="btn btn-sm btn-success pull-left">
				<span class="glyphicon glyphicon-unchecked"></span>					
			</button>
			<span class="itemList">
				Item-1
			</span>
			<button type="button" class="btn btn-sm btn-success pull-right">
				<span class="glyphicon glyphicon-pencil"></span>					
			</button>
		</li>
		<li class="list-group-item text-center clearfix">
			<button type="button" class="btn btn-sm btn-success pull-left">
				<span class="glyphicon glyphicon-unchecked"></span>					
			</button>
			<span class="itemList">
				Item-1
			</span>
			<button type="button" class="btn btn-sm btn-success pull-right">
				<span class="glyphicon glyphicon-pencil"></span>					
			</button>
		</li> -->			
	</ul>	
			
</div>
