<div class="col-xs-12">
	<div class="jumbotron text-center">
		<h1>Add Item Below</h1>
	</div>	
	<form name="groceryForm">
		<p>{{groceryForm.$dirty}}</p>
		<p>{{groceryForm.$pristine}}</p>
		<p>{{groceryForm.$valid}}</p>

		<div class="alert alert-danger" ng-show="groceryForm.$dirty && !groceryForm.$valid">
			<span class="glyphicon glyphicon-exclansion-sign"></span>
			<span class="sr-only">Error:</span>Enter a valid grocery item!			
		</div>

		<div class="form-group">
			<input type="text" ng-pattern="/^[a-zA-Z]*$/" class="form-control" placeholder="groceryItem" ng-model="groceryItem.itemName" required />
		</div>
		<div class="form-group">
			<!-- <a href="#!/" style="margin-bottom: 10px;" class="btn btn-success btn-lg btn-block">
				<span class="glyphicon glyphicon-pushpin">Save</span>
			</a> -->
			<button type="button" class="btn btn-success btn-lg btn-block" ng-click="groceryForm.$valid && save()">
			 	<span class="glyphicon glyphicon-pushpin">
			 		Save
			 	</span>
			</button>
		</div>
		<div class="form-group">
			<a href="#!/" style="margin-bottom: 10px;" class="btn btn-default btn-lg btn-block">
				<span class="glyphicon glyphicon-remove">Cancel</span>
			</a>
			<!-- <button type="button" class="btn btn-success btn-lg btn-block">
			 	<span class="glyphicon glyphicon-remove">
			 		Cancel
			 	</span>
			</button> -->
		</div>
		{{rd}}

	</form>		
</div>